<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include CourseNavbar.ejs %>

<!-- Home page info : about us -->
<div class="tab-content">
    <div id="home">
          <p class="w3-justify w3-box-home">
            <!--  HOME TAB in Students Portal-->
              <iframe src="/pdf/EL114.pdf" style="width:1200px; height:500px;margin-left:20px" frameborder="0"></iframe>
            </p>
    </div>

    <br><br> <br>
<!--  End of Home page  -->

<% include Footer.ejs %>

</body>
</html>
