<!DOCTYPE html>
<html>
<head>
    <title>About Course</title>
    <!--  including header information -->
<% include Head.ejs %>
</head>

<body>

<!--  including navigation bar-->
<% include CourseNavbar.ejs %>

<!-- script to make current tab active in the navigation bar -->
<script>
var x = document.getElementById("aboutcourse");
x.className = "active";
</script>


<!-- Starting of About Course Page  -->


<!-- displaying the course pdf in the iframe  -->
<div class="tab-content">
    <div id="home">
          <p class="w3-justify w3-box-home">
            <!--  HOME TAB in Students Portal-->
              <iframe src="/pdf/course/<%= data %>.pdf" style="width:1200px; height:500px;margin-left:20px" frameborder="0"></iframe>
            </p>
    </div>

    <br><br> <br>
<!--  End of  About Course Page  -->

<!--  including footer-->

<% include Footer.ejs %>

</body>
</html>
