<!DOCTYPE html>
<html>
<head>
  <title>Academic Information</title>
    <!--  including header information -->
<% include Head.ejs %>
</head>

<body>

    <!--  including navigation bar-->
<% include Navbar.ejs %>

<!-- script to make current tab active in the navigation bar -->
<script>
var x = document.getElementById("academic");
x.className = "active";
</script>

<!--  Academic Info Tab in Students Web App -->
<br><br>

<div id="menu1" class="w3-box-center-white" align="center">

  <div class="columns" align="center">
      <div class="w3-card-8 w3-red w3-div-card" data-toggle="modal" data-target="#myModaltime"><h3 class="w3-padding-card">Schedule</h3></div>
      <div class="w3-card-8 w3-black w3-div-card" data-toggle="modal" data-target="#myModalcourse"><h3 class="w3-padding-card" >Guidelines</h3></div>
      <div class="w3-card-8 w3-blue w3-div-card" data-toggle="modal" data-target="#myModalbtech"><h3 class="w3-padding-card">Curriculum Info</h3></div>
      <div class="w3-card-8 w3-green w3-div-card" data-toggle="modal" data-target="#myModalother"><h3 class="w3-padding-card">Other Information</h3></div>

  </div>
<div class="clear"></div>

        <div class="container">

        <!-- Modal  Schedule-->
          <div class="modal fade" id="myModaltime" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Schedule</h4>
                </div>
                <div class="modal-body">
                 <ul class="w3-ul">
                    <li><a href="/pdf/schedule/calender.pdf" target="_blank">Calender</a></li>
                    <li><a href="/pdf/schedule/holidays.pdf" target="_blank">Holidays</a></li>
                    <li><a href="/pdf/schedule/lecture.pdf" target="_blank">Lecture Time Table</a></li>
                    <li><a href="/pdf/schedule/lab.pdf" target="_blank">Lab Time Table</a></li>
                    <li><a href="/pdf/schedule/insem1.pdf" target="_blank">Insem-1 Time Table</li>
                    <li><a href="/pdf/schedule/insem2.pdf" target="_blank">Insem-2 Time Table</li>
                    <li><a href="/pdf/schedule/endsem.pdf" target="_blank">End Sem Time Table</li>
                    <li><a href="/pdf/schedule/lab.pdf" target="_blank">Slot- Winter 2015-16</a></li>
                    <li><a href="/pdf/schedule/courselist.pdf" target="_blank">Course List</a></li>


                </ul>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
              </div>
            </div>
          </div>


          <!-- Modal  Guidelines-->
          <div class="modal fade" id="myModalcourse" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Guidelines</h4>
                </div>
                <div class="modal-body">
                  <ul class="w3-ul">
                    <li><a href="/pdf/guidelines/medical.pdf" target="_blank">Medical Facility & Emergency Procedures</a></li>
                    <li><a href="/pdf/guidelines/adddrop.pdf" target="_blank">Course Adjustment Policy</a></li>
                    <li><a href="/pdf/guidelines/discipline.pdf" target="_blank">Disciplinary Guidelines</a></li>
                    <li><a href="/pdf/guidelines/exam.pdf" target="_blank">Exam Rules</a></li>
                    <li><a href="/pdf/guidelines/vehiclerule.pdf" target="_blank">Vehicle Rules</a></li>

                </ul>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
              </div>
            </div>
          </div>



          <!-- Modal  Btech Curriculum -->
          <div class="modal fade" id="myModalbtech" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Curriculum Info</h4>
                </div>
                <div class="modal-body">
                  <ul class="w3-ul">
                    <li><a href="/pdf/curriculum/academic.pdf" target="_blank">Academic Requirements</a></li>

                    <li><a href="/pdf/curriculum/btech.pdf" target="_blank">Btech Curriculum</a></li>
                    <li><a href="/pdf/curriculum/cpi.pdf" target="_blank">CPI Calculation </a></li>
                </ul>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
              </div>
            </div>
          </div>


          <!-- Modal  Other Information -->
          <div class="modal fade" id="myModalother" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Other Important Info</h4>
                </div>
                <div class="modal-body">
                  <ul class="w3-ul">

                    <li><a href="/pdf/other/constitution.pdf" target="_blank">SBG Constitution</a></li>
                    <li><a href="/pdf/other/clubs.pdf" target="_blank">SBG Clubs & Committees</a></li>

                    <li><a href="/pdf/other/itinfo.pdf" target="_blank">IT Info</a></li>
                    <li><a href="/pdf/other/officials.pdf" target="_blank">Officials</a></li>
                    <li><a href="/pdf/other/faculty.pdf" target="_blank">Faculty Info</a></li>


                </ul>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
              </div>
            </div>
          </div>

            </div>


</div>

<!--  including footer-->
<% include Footer.ejs %>

</body>
</html>
