<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include Navbar.ejs %>

      <div class="w3-container w3-white w3-box-center-white">

        <h1 class="w3-ensize" align="center"><b>Academic Status</b></h1>
        <br>
        <p align="center">



                               <ul class="w3-ul w3-card-4">
                                  <li> #  Credits  : 104 / 512 </li>
                                  <li> #   Group Elective : 1 / 2 </li>
                                  <li> #  Technical Elective : 2 / 4 </li>
                                  <li> #   Science Elective : 1 / 2 </li>
                                  <li> #   Open Elective : 1 / 1 </li>
                              </ul>

                    <p> </p>

        </p>
      </div>

<% include Footer.ejs %>

</body>
</html>
