<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include Navbar.ejs %>

<!-- Home page info : about us -->

            <!--  HOME TAB in Students Portal-->
            <div id="repos" class="w3-box-center-white">

                       <ul class="w3-ul w3-card-4">
                          <li>@EL205: *Dislplay link* </li>
                          <li>@EL205: *Dislplay link* </li>
                          <li>@EL205: *Dislplay link* </li>
                      </ul>
                  </div>


<br>
<br><br><br><br><br><br><br><br>
<!--  End of Home page  -->

<% include Footer.ejs %>

</body>
</html>
