<!DOCTYPE html>
<html>
<head>
	<title>Course Home</title>
    <!--  including header information -->
<% include Head.ejs %>
</head>

<body>

<!--  including navigation bar-->
<% include CourseNavbar.ejs %>


<!--  Welcome jumbotron-->
<div class="w3-box-home">
<div class="jumbotron"><h1 align="center">Welcome</h1>
<br>

</div>

</div>

<!-- including footer  -->
<% include Footer.ejs %>

</body>
</html>
