
  <div class="w3-container w3-white w3-border">
        <img src="/images/logo.jpg" class = "w3-margin-top w3-margin-bottom" align = "left" style="height:75px;"></img>
      <h2 align = "right" style="font-family:'Comic Sans MS';"><br>CourseAid</h2>

    </div>

  <p style="border:5px solid black">
<!-- do it container fluid if navigation bar expand..-->
  <div>
  <!-- <nav data-spy="affix" data-offset-top="197" style="background-color:#1e3552;color:#fff;"> -->
    <nav data-spy="affix" data-offset-top="120"  style="background-color:#1e3552;color:#fff;"  id="myNav">
      <ul class="nav nav-tabs nav-justified">
         <li><a href="/Home"><span class="glyphicon glyphicon-home"></span> </a></li>

        <li><a href="AboutCourse">About Course</a></li>
        <li><a href="TADetails">TA's Details</a></li>
        <li><a href="Score">Check Score</a></li>
        <li><a href="CourseQueries" >Course Queries</a></li>
        <li><a href="CourseLink" >Course Links</a></li>


      <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-menu-hamburger"></span><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="/ChangePass">Change Password</a></li>
      <li><a href="/Help">Help</a></li>
      <li><a href="/Authentication">Log Out</a></li>
    </ul>
  </li>
    </ul>
</nav>
</div>
