<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include CourseNavbar.ejs %>

<!-- Home page info : about us -->

<div class="w3-box-home">
<div class="well"><h1 align="center">Welcome</h1>
<br>
<h2 align="center">IT-420 </h2>
<h2 align="center"> Introduction to Cryptography</h2>
</div>

</div>



<!--  End of Home page  -->

<% include Footer.ejs %>

</body>
</html>
