<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include CourseNavbar.ejs %>


<div class="w3-box-home">
<div class="well"><h1 align="center">Welcome</h1>
<br>

</div>

</div>

<% include Footer.ejs %>

</body>
</html>
