<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include CourseNavbar.ejs %>

<div id="repos" class="w3-box-center-white">

  <% if(data) {%>
  <% for(var i=0; i < data.length; i++) { %>

      <div id="abc" class="w3-card">
      <div class="w3-accordion w3-light-grey">
        <p class="w3-btn-block w3-left-align w3-green">
        @ <%= data[i].course %> : <%= data[i].text %>
        </p>
      </div>
      </div>
      <% } %>
      <% } %>
      </div>


      </div>
      </div>
</div>


<br>

<!--  End of Home page  -->

<% include Footer.ejs %>

</body>
</html>
