<!DOCTYPE html>
<html>
<head>
  <title>Course Repository</title>
<% include Head.ejs %>
<!-- including header information  -->
</head>

<body>
    <!-- including course navigation bar  -->
<% include CourseNavbar.ejs %>
<script>
var x = document.getElementById("rep");
x.className = "active";
</script>


<!-- Displaying the course repository links together specific to the course  -->
<div id="repos" class="w3-box-center-white">

  <% if(data) {%>
  <% for(var i=0; i < data.length; i++) { %>

      <div id="abc" class="w3-card">
      <div class="w3-accordion w3-light-grey">
        <p class="w3-btn-block w3-left-align w3-green">
        @ <%= data[i].course %> : <%= data[i].text %>
        </p>
      </div>
      </div>
      <% } %>
      <% } %>
      </div>


      </div>
      </div>
</div>


<br>


<!-- including footer  -->
<% include Footer.ejs %>

</body>
</html>
