
    <footer class="w3-container w3-black" style="position:relative;">
      <div class="w3-box-center-footer">
   <div class="w3-container w3-third" style="margin-top:15px;">
     <p align="center"><img border="0" alt="CourseAid" src="/images/courseaid.png" width="150" height="125"></p>


  </div>


   <div class="w3-container w3-third" style="margin-top:15px;">

             <h2 align="center">Contact</h2>


        <div>
          <p align="center"><span class="glyphicon glyphicon-envelope"></span>&nbsp;
sen15.2016@gmail.com</p>
        </div>
        <div>
          <p align="center"><span class="glyphicon glyphicon-earphone"></span>&nbsp;  +91 9988776655</p>
        </div>

  </div>




   <div class="w3-container w3-third" style="margin-top:15px;">

          <p  align="center"><span style="font-size:40px">&copy;</span><br>&copy; 2016 by Sen-Team 15
          </p>

          <p align="center">
          <a href="https://webmail.daiict.ac.in" target="_blank"><img border="0" alt="DA-IICT Webmail" src="/images/favicon.ico" width="20" height="20"></a>
          ·
          <a href="https://intranet.daiict.ac.in/intranet/index.html" target="_blank"><img border="0" alt="DA-IICT Webmail" src="/images/intranet.jpg" width="20" height="20"></a>
          ·
          <a href="https://ecampus.daiict.ac.in/webapp/intranet/index.jsp" target="_blank"><img border="0" alt="DA-IICT Ecampus" src="/images/ecampus.jpg" width="20" height="20"></a>
          .
          <a href="/pdf/guide.pdf" target="_blank">FAQ</a>

                  </p>


  </div>

</div>
</footer>
