
    <footer class="w3-container w3-black" style="position:relative;top:50px">
      <div class="w3-box-center-footer">
   <div class="w3-container w3-third">
     <h3 align="center">Company<span>logo</span></h3>

        <p align="center">
          <a href="#">Blog</a>
          ·
          <a href="#">About</a>
          ·
          <a href="#">Faq</a>
                  </p>

  </div>


   <div class="w3-container w3-third">

             <h3 align="center">Contact</h3>


        <div>
          <p align="center"><span class="glyphicon glyphicon-envelope"></span>&nbsp;
support@company.com</p>
        </div>
        <div>
          <p align="center"><span class="glyphicon glyphicon-earphone"></span>&nbsp;  +1 555 123456</p>
        </div>

  </div>




   <div class="w3-container w3-third">

          <p  align="center"><span style="font-size:40px">&copy;</span><br>&copy; 2016 by Sen-Team 15
          </p>

  </div>

</div>
</footer>
