<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include Navbar.ejs %>

<div id="help" class=" w3-box-home">
      <p> For any help mail us at <i>sen15.2016@gmail.com</i></p>
      <br><br><br><br><br><br><br><br><br><br>
</div>

<% include Footer.ejs %>

</body>
</html>
