<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include Navbar.ejs %>
<!--  ############################# End of Header ###########################################-->
<!-- Home page info : about us -->
<div class="tab-content">
    <div id="home">
        <div class="w3-light-grey">
          <p class="w3-justify w3-box-home">
            <!--  HOME TAB in Students Portal-->
              Our project aims to develop a Student Assessment Portal, which would help in making the grading process more efficient and in increasing student's awareness about their academic performance. It would also help in bridging the gap between professor and student by making the relevant information more accessible to the students and providing a platform for student-professor interaction. It helps to reduce the time and efforts put in maintaining logs of various assessments and computing their aggregate. It also provides few features which would help student to deal with their academic's better.
              <br><br>
              Initially the student need to sign up using their webmail ID. Then the students can select the courses for which they have registered. The marks obtained by each student would be accessible to them just after the professor uploads the updated excel sheet. They can view the class average and their respective percentile in each course. They can apply for recheck if required. They can ask any course related query from the professor. They can use SPI/CPI calculator to estimate the minimum effort required in order to achieve it. They can select the courses for which they would like to receive the notification.

            </p>
               <br><br> <br>
       </div>
    </div>
<!--  End of Home page  -->

<% include Footer.ejs %>

</body>
</html>
