<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include Navbar.ejs %>
<!--  ############################# End of Header ###########################################-->
<!--  here it will include about the courses of professor...........-->
<!--  My Courses Tab in Students Portal-->


<script>
var x = document.getElementById("mycourses");
x.className = "active";
</script>


<div id="menu2">
<div class="w3-box-center-table">
<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable">
    <thead>
    <tr class="w3-light-grey">
      <th class="w3-grey">Course ID</th>
      <th class="w3-grey">Course Name</th>
    </tr>
    </thead>

    <% if(data) {%>
      <% for(var i=0; i < data.length; i++) { %>
    <tr>
      <form method="get" name="form">
      <td><a href='MyCourses/<%= data[i].course %>/CourseHome'><%= data[i].course %></a></td>
      </form>
    </tr>
    <% } %>
    <% } %>
</table>
</div>



<br><br><br><br><br><br><br>

<% include Footer.ejs %>

</body>
</html>
