<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include Navbar.ejs %>

<!--  My Courses Tab in Students Portal-->
<div id="menu2">
<div class="w3-box-center-table">
<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable">
    <thead>
    <tr class="w3-light-grey">
      <th class="w3-grey">Courses</th>
      <th class="w3-grey">Info/Details</th>
      <th class="w3-grey">Credits</th>
    </tr>
    </thead>
    <tr>
      <td>Computer Networks</td>
      <td>Johnson</td>
      <td>4.5</td>
    </tr>
    <tr>
      <td>Embedded Hardware Design</td>
      <td>Johnson</td>
      <td>4.5</td>
    </tr>
    <tr>
      <td>DBMS</td>
      <td>Johnson</td>
      <td>4.5</td>
    </tr>
     <tr>
      <td>Business Management</td>
      <td>Johnson</td>
      <td>3</td>
    </tr>
     <tr>
      <td>Intro to Algo</td>
      <td>Johnson</td>
      <td>4</td>
    </tr>
     <tr>
      <td>SEN</td>
      <td>Johnson</td>
      <td>4.5</td>
    </tr>
</table>
</div>


  <br><br><br>
  <div class="w3-accordion">
  <button onclick="myFunction('Demo0')" class="w3-btn-block w3-left-align w3-grey w3-center">View Previous Courses : List Semester</button>
    <div id="Demo0" class="w3-accordion-content">

    <!-- <div class="w3-accordion w3-light-grey"> -->

      <button onclick="myFunction('Demo1')" class="w3-btn-block w3-left-align w3-theme-action">Semester-1</button>
      <div id="Demo1" class="w3-accordion-content">
        <div class="w3-container">
          <p>Course 1</p>
          <p>Course 2</p>
          <p>Course 3</p>
          <p>Course 4</p>
          <p>Course 5</p>
          <p>Course 6</p>
        </div>
      </div>

      <button onclick="myFunction('Demo2')" class="w3-btn-block w3-left-align w3-blue-grey">Semester-2</button>
      <div id="Demo2" class="w3-accordion-content">
        <div class="w3-container">
          <p>Course 1</p>
          <p>Course 2</p>
          <p>Course 3</p>
          <p>Course 4</p>
          <p>Course 5</p>
          <p>Course 6</p>
        </div>
      </div>

      <button onclick="myFunction('Demo3')" class="w3-btn-block w3-left-align w3-theme-action">Semester-3</button>
      <div id="Demo3" class="w3-accordion-content">
        <div class="w3-container">
          <p>Course 1</p>
          <p>Course 2</p>
          <p>Course 3</p>
          <p>Course 4</p>
          <p>Course 5</p>
          <p>Course 6</p>
        </div>
      </div>

      <button onclick="myFunction('Demo4')" class="w3-btn-block w3-left-align w3-blue-grey">Semester-4</button>
      <div id="Demo4" class="w3-accordion-content">
        <div class="w3-container">
          <p>Course 1</p>
          <p>Course 2</p>
          <p>Course 3</p>
          <p>Course 4</p>
          <p>Course 5</p>
          <p>Course 6</p>
        </div>
      </div>

      <button onclick="myFunction('Demo5')" class="w3-btn-block w3-left-align w3-theme-action">Semester-5</button>
      <div id="Demo5" class="w3-accordion-content">
        <div class="w3-container">
          <p>Course 1</p>
          <p>Course 2</p>
          <p>Course 3</p>
          <p>Course 4</p>
          <p>Course 5</p>
          <p>Course 6</p>
        </div>
      </div>

      <button onclick="myFunction('Demo6')" class="w3-btn-block w3-left-align w3-blue-grey">Semester-6</button>
      <div id="Demo6" class="w3-accordion-content">
        <div class="w3-container">
          <p>Course 1</p>
          <p>Course 2</p>
          <p>Course 3</p>
          <p>Course 4</p>
          <p>Course 5</p>
          <p>Course 6</p>
        </div>
      </div>

      <button onclick="myFunction('Demo7')" class="w3-btn-block w3-left-align w3-theme-action">Semester-7</button>
      <div id="Demo7" class="w3-accordion-content">
        <div class="w3-container">
          <p>Course 1</p>
          <p>Course 2</p>
          <p>Course 3</p>
          <p>Course 4</p>
          <p>Course 5</p>
          <p>Course 6</p>
        </div>
      </div>


      <button onclick="myFunction('Demo8')" class="w3-btn-block w3-left-align w3-blue-grey">Semester-8</button>
      <div id="Demo8" class="w3-accordion-content">
        <div class="w3-container">
          <p>Course 1</p>
          <p>Course 2</p>
          <p>Course 3</p>
          <p>BTP</p>
        </div>
      </div>


  </div>
</button>
</div>
  <script>
  function myFunction(id) {
      document.getElementById(id).classList.toggle("w3-show");
  }
  </script>

</div>


<% include Footer.ejs %>

</body>
</html>
