<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include Navbar.ejs %>
<!--  ############################# End of Header ###########################################-->
<!--  here it will include about the courses of professor...........-->
<!--  My Courses Tab in Students Portal-->
<div id="menu2">
<div class="w3-box-center-table">
<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable">
    <thead>
    <tr class="w3-light-grey">
      <th class="w3-grey">Courses</th>
      <th class="w3-grey">Info/Details</th>
      <th class="w3-grey">Credits</th>
    </tr>
    </thead>
    <tr>
      <td><a href="prof_courses.html">Computer Networks</a></td>
      <td>Johnson</td>
      <td>4.5</td>
    </tr>
    <tr>
      <td>Embedded Hardware Design</td>
      <td>Johnson</td>
      <td>4.5</td>

    </tr>
</table>
</div>



<br><br><br><br><br><br><br>

<% include Footer.ejs %>

</body>
</html>
