<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
<% include Head.ejs %>
<!--  including the header information-->
</head>

<body>
<% include Navbar.ejs %>
<!--  including the navigation bar -->


<!--  My Profile Tab -->


<!-- script to make current tab active in the navigation bar -->
<script>
var x = document.getElementById("myprofile");
x.className = "active";
</script>


<!--  user's profile information-->


<div id="profile" class="tab-pane fade in active">


<div id="w">
<div id="content" class="clearfix w3-box-center">
  <div id="userphoto"><img src="images/avatar.png" alt="default avatar"></div>
  <h1>Users Profile</h1>
  <br><br>
  <br><br>
  <br>

  <section id="bio">

    <p class="setting"><span>Name </span> <%= data.std_name %> </p>

    <p class="setting"><span>ID</span> <%= data.std_id %></p>

    <p class="setting"><span>DOB</span><%= data.DOB %></p>

  </section>

</div><!-- @end #content -->
</div><!-- @end #w -->

<!--  including the footer information-->
<% include Footer.ejs %>
</body>
</html>
