<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include Navbar.ejs %>

<!--  My Profile Tab in Students Portal-->

<div id="profile" class="tab-pane fade in active">


<div id="w">
<div id="content" class="clearfix w3-box-center">
  <div id="userphoto"><img src="images/avatar.png" alt="default avatar"></div>
  <h1>Users Profile</h1>
  <br><br>
  <br><br>
  <br>

  <section id="bio">
    <br>
    <p class="setting"><span>Name </span> abcdefgh </p>

    <p class="setting"><span>ID</span> 201301xxx</p>

    <p class="setting"><span>DOB</span> 29/02/1995</p>

  </section>

</div><!-- @end #content -->
</div><!-- @end #w -->


  </div>
  <!-- End of Profile -->

<% include Footer.ejs %>

</body>
</html>
