
    <div class="w3-container w3-white w3-border">
    	  <img src="/images/logo3.jpg" class = "w3-margin-top w3-margin-bottom" align = "left"></img>
      <h2 align = "right"><br>CourseAid</h2>

    </div>

  <p style="border:5px solid black">
<!-- do it container fluid if navigation bar expand..-->
  <div class=" w3-theme-action">
  <ul class="nav nav-tabs nav-justified" >
     <li><a href="Home"><span class="glyphicon glyphicon-home"></span> Home</a></li>

    <li><a href="MyProfile">My Profile</a></li>
    <li><a href="MyCourses">My Courses</a></li>
    <li><a href="Queires">Queries</a></li>
    <li><a href="Repository">Repository</a></li>



    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-menu-hamburger"></span><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="Preferences">Preferences</a></li>
        <li><a href="ChangePass">Change Password</a></li>
        <li><a href="Help">Help</a></li>
        <li><a href="Logout">Log Out</a></li>
      </ul>
    </li>
</div>
