
  <div class="w3-container w3-white w3-border">
        <img src="images/logo.jpg" class = "w3-margin-top w3-margin-bottom" align = "left" style="height:75px;"></img>
      <h2 align = "right" style="font-family:'Comic Sans MS';"><br>CourseAid</h2>

    </div>

  <p style="border:5px solid black">
<!-- do it container fluid if navigation bar expand..-->
  <div>
  <nav data-spy="affix" data-offset-top="120"  style="background-color:#1e3552;color:#fff;"  id="myNav">
  <ul class="nav nav-tabs nav-justified">
     <li id="home"><a href="Home"><span class="glyphicon glyphicon-home"></span> Home</a></li>

    <li id="myprofile"><a href="MyProfile">My Profile</a></li>
    <li id="academic"><a href="Academic">Academic Info</a></li>
    <li id="mycourses"><a href="MyCourses">My Courses</a></li>
    <li id="result"><a href="Results">Results</a></li>
    <li id="query"><a href="Queries">Queries</a></li>
    <li id="rep"><a href="Repository" >Repository</a></li>


    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Utilities<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li id="spi"><a href="SPI">SPI-CPI Calculator</a></li>
         <li><a href="Broadcast">Broadcast</a></li>
      </ul>
    </li>



    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-menu-hamburger"></span><span class="caret"></span></a>
      <ul class="dropdown-menu pull-right">
        <li id="changepass"><a href="ChangePass">Change Password</a></li>
        <li id="help"><a href="Help">Help</a></li>
        <li><a href="Logout">Log Out</a></li>
      </ul>
    </li>
</nav>
</div>






  <!-- <div class="w3-container w3-white w3-border">
        <img src="images/logo.jpg" class = "w3-margin-top w3-margin-bottom" align = "left" style="height:75px;"></img>
      <h2 align = "right" style="font-family:'Comic Sans MS';"><br>CourseAid</h2>

    </div>

  <p style="border:5px solid black">
  <div>
  <nav data-spy="affix" data-offset-top="120"  style="background-color:#1e3552;color:#fff;"  id="myNav">
  <ul class="nav nav-tabs nav-justified">
     <li><a href="Home"><span class="glyphicon glyphicon-home"></span> Home</a></li>

    <li><a href="MyProfile">My Profile</a></li>
    <li><a href="Academic">Academic Info</a></li>
    <li><a href="MyCourses">My Courses</a></li>
    <li><a href="Results">Results</a></li>
    <li><a href="Queries">Queries</a></li>
    <li><a href="Repository" >Repository</a></li>


    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Utilities<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="SPI">SPI-CPI Calculator</a></li>
         <li><a href="Broadcast">Broadcast Queries</a></li>
      </ul>
    </li>



    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-menu-hamburger"></span><span class="caret"></span></a>
      <ul class="dropdown-menu pull-right">
        <li><a href="ChangePass">Change Password</a></li>
        <li><a href="Help">Help</a></li>
        <li><a href="Logout">Log Out</a></li>
      </ul>
    </li>
</nav>
</div> -->
