<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include Navbar.ejs %>
<!--  Queries Tab in Students Portal-->
<!-- <div id="query" class="w3-box-center">

  <% if(data) {%>
  <% for(var i=0; i < data.length; i++) { %>
  <form method="get" name="form">
    <ul class="w3-ul w3-card-4">
       <li>@<%= data[i].course %>: <%= data[i].text %> </li>
   </ul>
  </form>
<% } %>
<% } %> -->

          <div id="query" class="w3-box-center">
            <form method="post">
              <label class="w3-label">Course Code</label>
              <br>
            <input class="w3-input w3-border w3-twothird" type="text" placeholder="Enter Course Code(eg. EL203)" name="ccode">
            <br><br><br>
            <label class="w3-label">Enter Query</label>
            <br>
            <textarea placeholder="Write new query...." name="text"></textarea>

            <br>
              <input type="submit" class="w3-btn w3-ripple w3-teal w3-round-large" value="Post">
            </form>

      </div>
<% include Footer.ejs %>

</body>
</html>
