<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include Navbar.ejs %>

<!--  Queries Tab in Students Portal-->
<div id="query" class="w3-box-center">
            <form class="w3-container">
            <p>
            <label class="w3-label">Name/Email</label>
            <input class="w3-input" type="text"></p>
            <br>
            <label class="w3-label">Enter Query</label>
            <br><br>
            <textarea>Some text...</textarea>
            </form>

            <br>
              <button id="myBtn" class="w3-btn w3-ripple w3-teal w3-round-large">Submit</button>


      </div>
<% include Footer.ejs %>

</body>
</html>
