<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include Navbar.ejs %>
<!--  Repository Tab in Students Portal-->
<div id="query" class="w3-box-center">

            <form method="post">
            <label class="w3-label">Course Code</label>
            <br>
            <input class="w3-input w3-border w3-twothird" type="text" placeholder="Enter Course Code(eg. EL203)" name="ccode">
            <br><br><br>
            <label class="w3-label">Enter Link</label>
            <br>
            <textarea placeholder="Some Link...." name="text"></textarea>

            <br>
              <input type="submit" class="w3-btn w3-ripple w3-teal w3-round-large" value="Post">
            </form>

      </div>

<% include Footer.ejs %>

</body>
</html>
