<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
<link rel="stylesheet" href="css/w3login.css">

</head>

<body>
<% include CourseNavbar.ejs %>

<div class="w3-container w3-padding-64 w3-light-grey" align="center">

  <div class="w3-container" style="width:800px;" align="left">

    <!-- Modal content-->
    <div class="modal-content w3-box-center-signup">
      <div class="modal-header-blue" style="padding:35px 50px;">
        <h4><span class="glyphicon glyphicon-user"></span> Sign Up</h4>
      </div>
      <div class="modal-body" style="padding:40px 50px;">
        <form role="form">
          <div class="form-group">
            <label for="usrname">Email ID</label>
            <input type="number" class="form-control" id="usrname" placeholder="Enter your Id">
          </div>

          <div class="form-group">
            <label for="name"> Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your Name">
          </div>

         

          <div class="form-group">
          <label for="date">Date of Birth</label>
          <input type="date" class="form-control" id="date">
    </div>
          <div class="form-group">
            <label for="psw"><span class="glyphicon glyphicon-eye-close"></span> Password</label>
            <input type="password" class="form-control" id="psw" placeholder="Enter password">
          </div>
          <br>

            <button type="submit" class="btn btn-success btn-block w3-theme-dark-blue w3-padding"><span class="glyphicon glyphicon-hand-up"></span> Register</button>

        </form>
      </div>
      <div class="modal-footer-blue" style="padding:35px 50px;">
       
      </div>
      
    </div>
</div>
</div>

<% include Footer.ejs %>

</body>
</html>
