<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include Navbar.ejs %>

    <!-- SPI-CPI Calculator-->




      <div class="w3-container w3-white w3-box-center-white">

        <h1 class="w3-ensize" align="center"><b>SPI-CPI Predictor</b></h1>
        <br>
        <p align="center">
                <div class="w3-box-center w3-light-grey w3-border">
                  <br>
                  <br>
                  <form method="post">
                  <p><label>Enter the CPI you want</label>      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input name="desired_cpi" type="number"></p>
                  <br>
                   <input type="submit" value="Submit" class="col-md-3 text-center"><br>
                   <br>
                 </form>
                </div>
        </p>
      </div>

<% if(data == "NN") {%>

  <h2 align="center">That's not possible</h2>

<% }else {%>
<div class="well">
  <h2 align="center">You need to Score</h2>
  <p align="center"> cpi is: <%= cpi %></p>
  <p align="center"> max cpi achievable is: <%= max %></p>
  <p align="center"> spi_req is: <%= spi_req %></p>
</div>
        <% } %>
<% include Footer.ejs %>

</body>
</html>
