<!DOCTYPE html>
<html>
<head>
<% include Head.ejs %>
</head>

<body>
<% include Navbar.ejs %>

<div id="menu2">
            <div class="w3-box-center-table">
            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable">
                <thead>
                <tr class="w3-light-grey">
                  <th class="w3-grey">Name</th>
                  <th class="w3-grey">Email Id or ID</th>
                  <th class="w3-grey">Contact</th>
                </tr>
                </thead>
                <tr>
                  <td>Shivang</td>
                  <td>shivang@gmail.com</td>
                  <td>A-112, 982309180 </td>
                </tr>
                <tr>
                  <td>Shivang</td>
                  <td>shivang@gmail.com</td>
                  <td>A-112, 982309180 </td>
                </tr>
                <tr>
                  <td>Shivang</td>
                  <td>shivang@gmail.com</td>
                  <td>A-112, 982309180 </td>
                </tr>
                <tr>
                  <td>Shivang</td>
                  <td>shivang@gmail.com</td>
                  <td>A-112, 982309180 </td>
                </tr>
                <tr>
                  <td>Shivang</td>
                  <td>shivang@gmail.com</td>
                  <td>A-112, 982309180 </td>
                </tr>
                <tr>
                  <td>Shivang</td>
                  <td>shivang@gmail.com</td>
                  <td>A-112, 982309180 </td>
                </tr>
            </table>
            </div>
            </p>



               <br><br> <br>
       </div>
    </div>

<% include Footer.ejs %>

</body>
</html>
